<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t28.forest.sales.dao.DepoTheadDao">

    <!--销售订单查询SQL语句-->
    <select id="findBillByPage" resultType="com.t28.forest.sales.vo.SalesBillVO">
        SELECT t4.supplier 'customerName',t1.Number 'billNum',t3.Name 'productName',t1.CreateTime 'billCreateTime',t1.OperPersonName 'operator',t1.TotalPrice 'totalPrice',t1.Status 'billStatus'
        FROM jsh_depothead t1,jsh_depotitem t2,jsh_material t3,jsh_supplier t4
        WHERE t1.id = t2.HeaderId
        AND t2.MaterialId = t3.Id
        AND t1.OrganId=t4.id
        AND t1.SubType='销售'
        AND t1.delete_Flag = 0
        <if test="null != condition">
            <include refid="selectSql"/>
        </if>
        LIMIT #{pageVO.current},#{pageVO.pageSize};
    </select>

    <select id="findBillCount" resultType="Integer">
        SELECT COUNT(1) `count`
        FROM jsh_depothead t1,jsh_depotitem t2,jsh_material t3,jsh_supplier t4
        WHERE t1.id = t2.HeaderId
        AND t2.MaterialId = t3.Id
        AND t1.OrganId=t4.id
        AND t1.SubType='销售'
        AND t1.delete_Flag = 0
        <if test="null != condition">
            <include refid="selectSql"/>
        </if>;
    </select>

    <!--查询SQL语句条件拼接
            模糊查询商品名称
            模糊查询单据编号信息
            查询日期范围
    -->
    <sql id="selectSql">
        <if test="null != condition.code">
            AND `number` LIKE concat('%',#{condition.code},'%')
        </if>
        <if test="null != condition.name">
            AND `name` LIKE concat('%',#{condition.name},'%')
        </if>
        <choose>
            <when test="null != condition.beginDate">
                <![CDATA[AND createTime >= #{condition.beginDate}]]>
                <if test="null != condition.endDate">
                    <![CDATA[AND createTime <= #{condition.endDate}]]>
                </if>
            </when>
            <when test="null != condition.endDate">
                <![CDATA[AND createTime <= #{condition.endDate}]]>
            </when>
        </choose>
    </sql>

</mapper>