<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t28.forest.sales.dao.SalesMaterialDao">

    <!--通过仓库ID查询商品信息-->
    <select id="findMaterialsByDepotId" resultType="com.t28.forest.shared.entity.MaterialDTO" parameterType="Integer">
        SELECT t3.Id 'id',t3.Name 'name'
        FROM jsh_depot t1,jsh_depotitem t2,jsh_material t3
        WHERE t2.MaterialId = t3.Id
        AND t2.DepotId=t1.id
        AND t1.id=#{depotId}
        GROUP BY t3.id;
    </select>

</mapper>